
.main-division{
    display: flex;
    margin: 0px 70px;
    align-items: center;
    margin-right: 150px;
}
.listing{
    width: 100%;
}
.postalcode-area{
    display: flex;
    justify-content: space-between;
    height: 64px;
    width: 100% ;
    align-items: center;
}
.postal-info{
    display: flex;
    align-items: center;
}
.location{
    padding: 20px;
    /* background-color: aliceblue; */
    background-color: orange;
}
input{
    padding: 8px;
}
button{
    padding: 8px;
}
.card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}
