.payment-form{
    border: 3px solid beige;
    margin: 10px 180px 10px 180px;
    /* box-shadow: 5px 10px 8px 10px #888888; */
}
.payment-form [type=text],[type=email]{
    width: 93% ;
    padding: 12px 20px;
    margin: 8px 0px;
    margin-right: 20px;
}
.payment-button{
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    background-color: #04AA6D;
}
.payment-container{
    margin: 0 280px;
    /* background-color: #04AA6D; */
}